/* 
---------------------------------------------------<  >--------------------------------------------------------------
                                                  index
---------------------------------------------------<  >--------------------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Georgia", serif;
    line-height: 1.6;
    background: #ffffff;
    color: #333;
    padding: 1.2rem;
}

header {
    text-align: center;
    margin-bottom: 3rem;
}

header h1 {
    font-size: 2.5rem;
    color: #222;
}

.subtitle {
    font-size: 1.2rem;
    color: #666;
}

.titles {
    max-width: 40rem;
    margin: 0 auto;
    background: #fff;
    padding: 1.2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 1rem rgba(126, 12, 128, 0.5);
}

#titlesHeader {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #444;
}

.writing-list {
    list-style: none;
}

.writing-list li {
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.writing-list a {
    text-decoration: none;
    color: rgba(126, 12, 128);
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.tooltip {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
}

.tooltip-box {
    text-align: justify;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #ffffff;
    color: #444;
    border: 0.1rem solid rgba(126, 12, 128, 0.5);
    border-radius: 1rem;
    width: 25rem;
    transition: opacity 1s ease;
    z-index: 10;
}

.tooltip-text {
    margin: 0.5rem;
    font-size: 0.8rem;
}

.tooltip-image {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 10rem;
    border: 0.1rem solid rgba(126, 12, 128, 0.5);
    transition: opacity 1s ease;
    z-index: 10;
}

.tooltip-cover {
    width: 10rem;
    display: block;
}

.tooltip:hover .tooltip-box,
.tooltip:hover .tooltip-image {
    visibility: visible;
    opacity: 1;
}

.covers {
    margin-top: 10rem;
}

.all_covers {
    margin-top: 2rem;
    width: 10rem;
    border: 0.1rem solid rgba(126, 12, 128, 0.5);
}


/* 
---------------------------------------------------<  >--------------------------------------------------------------
                                             the blue bridge 
---------------------------------------------------<  >--------------------------------------------------------------
*/

/*page top buttons to go back and to translate*/
.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn {
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
  font-weight: bold;
  color: #333;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 60, 156, 0.5);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}


.work-title {
    color: rgba(0, 60, 156, 1);
}


.container {  
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    
}

.cover-image {
    float: left;
    width: 15rem;
    margin: 1rem;
    box-shadow: 0 0.3rem 1rem rgba(0, 60, 156, 0.5);
}

.short-tale {
    text-align: justify;
    line-height: 1.5;
    font-size: 1rem;
    font-family: "Georgia", serif;
}

.short-tale p {
    margin-top: 1rem;
}

.ital {
    font-style: italic;
}

.divisor {
    text-align: center;
    margin-bottom: 3rem;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
    color: #999;
}
